body {
  font-family: 'Roboto', sans-serif;
  background-color: #131823;
  line-height: 1.8;
  letter-spacing: 1px; }

header .container {
  font-size: 2rem;
  color: #c2c3c5; }
  header .container .line {
    display: inline-block;
    width: 30px;
    height: 3px;
    margin: 6px 0;
    background-color: #c2c3c5; }
  header .container .main-logo {
    margin-top: 6em; }
    header .container .main-logo img {
      display: block; }

.main-img img {
  width: -webkit-fill-available; }

.main-container {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top left, #131823 calc(50% - 1px), #3e3f42, #131823 calc(50% + 1px)); }
  .main-container .main .content {
    color: white;
    padding-top: 8em;
    position: relative; }
    .main-container .main .content h1 {
      font-size: 3.5rem; }
      .main-container .main .content h1 .mail-ru {
        color: #2381de; }
    .main-container .main .content .subtitle {
      font-size: 1.5rem;
      color: #c2c3c5; }
    .main-container .main .content .para {
      width: 470px;
      text-align: justify;
      color: #e6e4e4;
      margin-top: 5em; }
  .main-container .main .side-image {
    margin-top: 30em; }
  .main-container .container .footer {
    color: white;
    font-size: 22px; }

@media (max-width: 1200px) {
  .main-container .main .content {
    padding-bottom: 0;
    padding-left: 80px; }
  .main-container .main .side-image {
    margin-top: 0;
    margin-right: 0; } }

@media (max-width: 992px) {
  .main-container .main .content {
    padding: 40px;
    padding-bottom: 0;
    margin: 0 auto; }
    .main-container .main .content .para, .main-container .main .content .title {
      width: 80%;
      margin: 0 auto;
      margin-top: 2em; }
  .main-container .main .side-image {
    margin-left: 0; } }

@media (max-width: 768px) {
  header .container .topbar .top-logo {
    transform: scale(0.7);
    transform-origin: left; }
  header .container .topbar .top-content {
    transform: scale(0.7);
    transform-origin: right; }
  header .container .main-logo img {
    transform: scale(0.6);
    transform-origin: left; }
  .main-container .main .content {
    padding: 0;
    padding-top: 3em; }
    .main-container .main .content .title h1 {
      font-size: 2.5rem; }
    .main-container .main .content .title .subtitle {
      font-size: 1.4rem; }
  .main-container .main .side-image img {
    transform: scale(0.6); } }
