body {
    font-family: 'Roboto', sans-serif;
    background-color: #131823;
    line-height: 1.8;
    letter-spacing: 1px;
}

header {

    .container {
        font-size: 2rem;
        color: #c2c3c5;

        .line {
            display: inline-block;
            width: 30px;
            height: 3px;
            margin: 6px 0;
            background-color: #c2c3c5;
        }

        .main-logo {
            margin-top: 6em;
            img {
                display: block;
            }
        }
    }
}

.main-img {
    img{
        width: -webkit-fill-available;
    }
}


.main-container {
    margin: 0;
    padding: 0;
    // margin: 7em;
    // width: 100%;
    background-image: linear-gradient(to top left, #131823 calc(50% - 1px), #3e3f42, #131823 calc(50% + 1px));

    .main {

        .content {
            color: white;
            padding-top: 8em;
            position: relative;

            h1 {
                font-size: 3.5rem;
                // background: url(img/cup.svg);
                // background-position: top;
                // background-size: inherit;
                // background-origin: initial;
                // position:relative;
                // display: inline-block;

                .mail-ru {
                    color: #2381de;
                }
            }
            // .bg-cup {
            //     position: absolute;
            //     top: 50px;
            //     left: 20px;
                
            // }

            .subtitle {
                font-size: 1.5rem;
                color: #c2c3c5;
            }

            .para {
                width: 470px;
                text-align: justify;
                color: #e6e4e4;
                margin-top: 5em;
            }
        }
        .side-image {
            margin-top: 30em;
            
        }
    }
    .container {

        .footer {
            color: white;
            font-size: 22px;
        }
    }

}


@media (max-width:1200px) {
    .main-container {

        .main {
            
            .content {
                padding-bottom: 0;
                padding-left: 80px;
            }
            .side-image {
                margin-top: 0;
                margin-right: 0;
            }
        }
    }
}
@media (max-width:992px) {

    .main-container {
        .main {
            .content {
                padding: 40px;
                padding-bottom: 0;
                margin: 0 auto;

                .para, .title {
                    width: 80%;
                    margin: 0 auto;
                    margin-top: 2em;
                }
            }
            .side-image {
                margin-left: 0;
                
            }
        }
    }
}
@media (max-width:768px) {

    header {
        .container {
            .topbar {
                .top-logo {
                    transform: scale(0.7);
                    transform-origin: left;
                }
                .top-content {
                    transform: scale(0.7);
                    transform-origin: right;
                }
            }
            
            .main-logo {
                img {
                    transform: scale(0.6);
                    transform-origin: left;
                }
            }
        }
    }
    .main-container {
        .main {
            .content {
                padding: 0;
                padding-top: 3em;

                .title {
                    h1 {
                        font-size: 2.5rem;
                    }
                    .subtitle {
                        font-size: 1.4rem;
                    }
                }
            }
            .side-image {
                img {
                    transform: scale(0.6);
                }
            }
        }
    }
}


