body {
    font-family: 'Roboto', sans-serif;
    background-color: #131823;
    line-height: 1.8;
    letter-spacing: 1px;
}

header {

    .container {
        font-size: 2rem;
        color: #c2c3c5;

        .line {
            display: inline-block;
            width: 30px;
            height: 3px;
            margin: 6px 0;
            background-color: #c2c3c5;
        }

        .all-cups-img {
            margin-top: 6em;
        }
    }
        
}

.main-img {
    img{
        width: -webkit-fill-available;
    }
}


.main-container {
    margin: 0;
    padding: 0;
    // margin: 7em;
    // width: 100%;
    background-image: linear-gradient(to top left, #131823 calc(50% - 1px), #3e3f42, #131823 calc(50% + 1px));

    .main {

        .desc {
            color: white;
            padding: 100px 0 100px 120px;
            position: relative;

            h1 {
                font-size: 3.5rem;
                // background: url(img/cup.svg);
                // background-position: top;
                // background-size: inherit;
                // background-origin: initial;
                // position:relative;
                // display: inline-block;

                .mail-ru {
                    color: #2381de;
                }
            }
            // .bg-cup {
            //     position: absolute;
            //     top: 50px;
            //     left: 20px;
                
            // }

            .subtitle {
                font-size: 1.5rem;
                color: #c2c3c5;
            }

            .para {
                width: 400px;
                text-align: justify;
                color: #e6e4e4;
                margin-top: 5em;
            }
        }
        .image {
            margin-top: 30em;
            margin-right: 8em;
            // width: 10px;
            // margin-bottom: 2em;
        }
    }
    .container {

        .footer {
            color: white;
            padding: 2em 0;
            font-size: 22px;
        }
    }

}


@media (max-width:1200px){
    .main-container {

        .main {
            
            .desc {
                padding-bottom: 0;
                padding-left: 80px;
                .para {
                    width: 555px;
                }
            }
            .image {
                margin-top: 0;
                margin-right: 0;
                margin-left: 52%;
            }
        }
        // .container {

        //     footer {
        //         padding: 0;
        //     }
        // }
        
    }
}

